doctype
html
    head
        meta(charset='UTF-8')
        title medialand
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:title" content="github.medialand.tw")
        meta(property="og:description" content="github.medialand.tw")
        meta(property="og:image" content="img/1200x630.png")
        meta(name="google-signin-client_id" content="554917229066-bst96iq8q5n10l89tp6gf8chslqo359m.apps.googleusercontent.com")
        //- link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto")
        //- link(rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons")
        //- link(rel="stylesheet", href="/asset/css/semantic.min.css")
        link(rel="stylesheet" href="asset/css/vendor.css")
        link(rel="stylesheet" href="asset/css/flat-admin.css")
        link(rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css")                
    body
        #app

        script(src="asset/js/vendor.js")
        script(src='//cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/vue-router/2.1.1/vue-router.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/vuex/2.0.0/vuex.min.js')
        //- IE11 才要加掛 promise.auto, 但..........部門的排程系統，誰鳥IE
        //- script(src='//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.all.min.js')
        //- script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
        script(src="https://apis.google.com/js/platform.js?onload=google_api_onload" async defer)
//
    　┏┓　　　┏┓+ +
    ┏┛┻━━━┛┻┓ + +
    ┃　　　　　　　┃ 　
    ┃　　　━　　　┃ ++ + + +
    ████━████ ┃+
    ┃　　　　　　　┃ +
    ┃　　　┻　　　┃
    ┃　　　　　　　┃ + +
    ┗━┓　　　┏━┛
    　　┃　　　┃　　　　　　　　　　　
    　　┃　　　┃ + + + +
    　　┃　　　┃　　　　Code is far away from bug with the animal protecting　　　　　　　
    　　┃　　　┃ + 　　
    　　┃　　　┃
    　　┃　　　┃　　+　　　　　　　　　
    　　┃　 　　┗━━━┓ + +
    　　┃ 　　　　　　　┣┓
    　　┃ 　　　　　　　┏┛
    　　┗┓┓┏━┳┓┏┛ + + + +
    　　　┃┫┫　┃┫┫
    　　　┗┻┛　┗┻┛+ + + +
