# 
.sass-cache/
_ignore
bower_components
node_modules
upload
bak/
config.rb
doc/
_doc
psd/
dist
src/img
*.zip
*.psd
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.sublime-project
*.sublime-workspace
*.sln
*.settings
*.cfg