doctype
html
    head
        meta(charset='UTF-8')
        title github.medialand.tw
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:title" content="github.medialand.tw")
        meta(property="og:description" content="github.medialand.tw")
        meta(property="og:image" content="img/1200x630.png")

    body
        .app.app-default
            .app-container.app-login
                .flex-center
                    .app-body
                        .app-form
                            h2.kv 404:Not Found
                            .text-center
                                p Sorry we can't find #{url}
        link(rel="stylesheet" href="/asset/css/vendor.css")
        link(rel="stylesheet" href="/asset/css/flat-admin.css")