// @require "bulma.css"
@require "component/*"
@require 'main'
/*@require 'component/global'
@require 'component/keyframes'
@require 'component/function'
@require 'component/notification'
@require 'component/card'*/