*{	min-height: 0;	min-width: 0;}
img{	vertical-align: top;}
html{	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);} 
body{	font-family:'Segoe UI', 'Roboto','LiHei Pro',"微軟正黑體","Microsoft JhengHei";} 
a{	outline: none;}

ul
	list-style-type: none
a
	text-decoration-style: none
	text-decoration: none

.old_browser_wrap
	z-index: 9999
	position: fixed
	background:white	
	left: 0
	top: 0
	width: 100%
	border-width:3px
	border-style:solid
	border-color:red 
	padding:20px
    p
		color:black

.clear
	clear: both

.debug
	font-family: Arial;
	position: absolute;
	top: 0;
	left: 0;
	background:white;
	padding: 5px;
	font-size: 20px;
	opacity: 0.8;	

.table
	display: table;
	.tr
		display: table-row;
	.td
		display: table-cell;


iframe[name="google_conversion_frame"]	
	display: none;

