
/*@keyframes spinning {
    from {  transform: rotate(0deg);	  }
    to {    transform: rotate(360deg);	  }
}
.ani_spinning
	animation: spinning 1.5s infinite linear

@keyframes landscope-tip {
    0% {	transform: rotate(0deg);	}
    30% {   transform: rotate(90deg);	}
    70% {   transform: rotate(90deg);	}
	100% {  transform: rotate(0deg);	}
}

*/