/*.notification
    background-color whitesmoke
    border-radius 3px
    padding 16px 20px
    position relative
    .close
        cursor pointer
        float right

    &:not(:last-child)
        margin-bottom 20px
    &:after 
        clear both
        content " "
        display table

    .title,.subtitle,.content
        color inherit
    
    &.is-info 
        background-color #3273dc
        color white
    &.is-success 
        background-color #23d160
        color white;
    &.is-warning 
        background-color #ffdd57
        color rgba(0, 0, 0, 0.7)
    &.is-danger 
        background-color #ff3860
        color white*/